$primaryColor: #4C2E73;
$primaryColorRGB: rgb(55, 15, 112, 0.8);
$primaryColorHover: #5d388d;
$primaryBg: #F1F1F1;
$primaryColorHoverRGB: rgb(55, 15, 112, 0.5);
$inText: #bba8a857;
$skyBg:  #F8F2FF;
$color-grey-border: #4241411c;
$color-recommeded-badge-bg: #FFE3C4;
$color-recommeded-badge: #F27E00;
$color-success-badge-bg: rgb(168, 230, 168);
$color-success-badge: #0bb60b;
$redColor: #ff6c60;


$primaryTextColor: grey;
$dashboardHoverColor: rgba(240, 242, 243, 0.8);
$secondaryColor: #0d041d96;
$backgroundColorRGB: rgba(0, 0, 0, 0.85);
$whiteColor: #ffffff;
$blackColor: black;
$editSecondColor: rgb(20, 131, 25);
$lightGrey: #d3d3d321;
$mainContentBackgroundColor: #6a7dcb12;
$orangeColor: orange;
$agoColor: #0fce29;
$dpkColor: rgb(0, 172, 237);
$pmsColor: #d8991c;
$lpgColor: #800080;
$total: rgb(255, 124, 113);
$buttonColor: #2c28281c;
$greenButtonColor: #164e0b;
$secondaryButtonColor: #605303;
$scrollBg: rgb(33, 5, 71);
$tableScrollBg: rgb(207, 202, 202);
$inactiveLink: #e8e9ec;
$lightGreyText: #707070;

