@import "colors";


.list-style-type-none {
    list-style-type: none !important;
}
img#mySidenav {
    display: none;
}


.wrapper_type_2 {
    position: relative;
    top: 0;
    height: 100vh;

    .sidebar, .masterLayoutWrapper {
        transition-property: top,bottom,width;
        transition-duration: .2s,.2s,.35s;
        transition-timing-function: linear,linear,ease;
        -webkit-overflow-scrolling: touch;
        // height: 100%;
        // max-height: 100%;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        width: 258px;
        //box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
        background: $primaryColor;
        overflow-y: auto;
        overflow-x: hidden;
        font-weight: 100;
        font-size: 15px;

        .logo_section {
            justify-content: center;

            .sm {
                display: none;
            }

            .lg {
                display: block;
                margin: 0 auto;
            }
        }

        &.opened {
            transform: translateZ(0);
            //box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
        }

        &.collapsed {
            width: 95px;
            overflow-y: auto;
            transform: translateZ(0);
            //box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
            .logo_section {
                .sm {
                    display: block;
                    margin: 0 auto;
                }

                .lg {
                    display: none;
                }
            }

            .dasboard_type_button_section {
                display: none;
            }

            .menu-wrapper {
                .sidenav_arrow {
                    display: none;
                }
                .sidenav_list_title{
                    display: none;
                }
                .list-group {
                    .list-group-item {
                        border: none;
                        max-height: 90px;
                        &.treeview {
                            position: relative;
                            margin: 0;
                            transition: all 1s ease-in-out;
                            >a {
                                position: relative;
                                text-decoration: none;
                                i {
                                    float: right;
                                    font-size: 25px;
                                    color: white;
                                }
                            }
                            &.open {
                                a {
                                    i {
                                        transform: rotate(-90deg);
                                        transition: all .3s;
                                    }
                                }
                                .treeview-menu {
                                    display: block;
                                }
                            }
                            .treeview-menu {
                                display: none;
                                list-style: none;
                                padding: 0;
                                margin: 0 -20px;
                                li {
                                    a {
                                        padding: 10px 0 8px 55px;
                                        display: block;
                                        font-size: 14px;
                                        color: #c2c2c2;
                                        &.active {
                                            background-color: $primaryColor !important;
                                        }
                                    }
                                }
                            }
                        }

                        &.navbar_item_active {
                            a {
                                border-left: 1px solid #fff !important;
                            }
                        }

                        a {
                            // border-left: 1px solid #fff !important;
                            padding: 1.25rem 0.75rem;
                            text-align: center;
                            font-size: 12px;
                            line-height: 14px;

                            .icon {
                                display: block;
                                width: 100%;
                                text-align: center;
                                margin-bottom: 5px;
                            }

                            .more {
                                margin: 0;
                                position: absolute;
                                right: 0.5rem;
                                top: calc(50% - 10px);
                            }
                        }

                        div.collapse {
                            padding: 10px;
                            z-index: 9999;
                            position: absolute;
                            top: 52px;
                            left: 18px;
                            background: #fff;
                            min-height: 50px;
                            width: 86.56%;
                            color: #0b041f;
                            -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.16);
                            box-shadow: 0 2px 2px rgba(0,0,0,.16);
                        }
                    }
                }
            }

            &:hover {
                width: 260px;
                .menu-wrapper {
                    .list-group {
                        .list-group-item {
                            border: none;
                            i{
                                display: inline;
                            }
                            max-height: 100%;

                            &.navbar_item_active {
                                a {
                                    border-left: 3px solid #fff !important;
                                }
                            }

                            a {
                                // border-left: 3px solid #fff !important;
                                padding: 1.25rem 0.75rem 0.75rem 0.75rem;
                                text-align: left;
                                font-size: 16px;
                                line-height: 16px;

                                .icon {
                                    display: inline-block;
                                    width: auto;
                                    text-align: center;
                                    margin-bottom: 0px;
                                }

                                .more {
                                    margin: 0;
                                    position: absolute;
                                    right: 0.5rem;
                                    top: calc(50% - 10px);
                                }
                            }
                        }
                    }
                }
            }
        }

        .menu-wrapper {
            height: 100%;
            //overflow-y: scroll;
            .list-group {
                text-align: left;

                .vue_router_link {
                    &:hover {
                        text-decoration: none;
                    }
                }

                .list-group-item {
                    padding: 0;
                    background-color: transparent;

                    &.navbar_item_active {
                        a {
                            border-left: 3px solid #fff !important;
                            background: rgba(13,4,29,.59) !important;
                        }
                    }

                    a {
                        display: block;
                        padding: 1.25rem;
                        font-size: 16px;
                        border-radius: none !important;
                        border: none;
                        color: #fff;
                        cursor: pointer;
                        border-left: 3px solid transparent !important;

                        &:hover,
                        //&.navbar_item_active,
                        &.open {
                            // border-left: 3px solid #fff !important;
                            background: rgba(13,4,29,.59) !important;
                        }

                        span {
                            i {
                                font-size: 24px;
                            }

                            img {
                                width: 25px;
                                height: 25px;
                            }
                        }

                        .more {
                            float: right;
                            margin-top: 6px;
                            font-size: 18px;
                        }
                    }

                    &.treeview {
                        position: relative;
                        margin: 0;
                        transition: all .2s ease-in-out;

                        > a {
                            position: relative;
                            text-decoration: none;

                            i {
                                float: right;
                                font-size: 18px;
                                color: white;
                            }
                        }

                        &.open {
                            a {
                                i {
                                    transform: rotate(-90deg);
                                    transition: all .3s;
                                }
                            }

                            .treeview-menu {
                                display: block;
                            }
                        }

                        .treeview-menu {
                            display: none;
                            list-style: none;
                            padding: 0;
                            margin: 0 -20px;

                            li {
                                a {
                                    padding: 10px 0 8px 55px;
                                    display: block;
                                    font-size: 14px;
                                    color: #c2c2c2;
                                    transition: all .2s ease-in-out;

                                    &.active {
                                        background-color: $primaryColor !important;
                                    }

                                    &:hover {
                                        transform: translateX(5px);
                                    }
                                }
                            }

                            &.open {
                                display: block;
                            }
                        }
                    }
                }
            }
        }

        .dasboard_type_button {
            background: transparent;
            // border: 1px solid rgba(211, 211, 211, 0.21);
            padding: 15px 25px;
            color: #fff;
            margin: 0 20px;
        }
    }

    .masterLayoutWrapper {
        // height: 100%;
        // max-height: 100%;
        position: relative;
        float: right;
        width: calc(100% - 258px);
        transition: .33s,cubic-bezier(.685,.0473,.346,1);

        &.opened {
            left: 0;
            width: calc(100% - 95px);
            transform: translateZ(0);
        }

        .main_content {
            width: 100%;
            background: #fafafa;
            min-height: 100vh;
            .inner_main_content {
                // margin-top: 77px;
                // padding-top: 55px;
                margin-bottom: 30px;
            }
        }
    }

    .navbar {
        background: $whiteColor !important;
        // box-shadow: 0px 3px 6px #00000029;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1;
        width: calc(100% - 258px);
        transition: .33s,cubic-bezier(.685,.0473,.346,1);

        &.opened {
            width: calc(100% - 95px);
            transform: translateZ(0);
        }

        .hamburger_container {
            .hamburger_span_div {
                .span-toggler-bar {
                    height: 4px;
                    width: 25px;
                    background: #4b2c72;
                    border: 1px solid #4b2c72;
                    margin: 3px 0;
                }
            }
        }

        .entity_name {
            a {
                cursor: default;
                color: #727272;
            }
        }

        .user_profile_span {
            font-family: Montserrat,sans-serif;
            font-weight: 100 !important;
            color: #000;
        }
    }
}
@media only screen and  (min-device-width : 800px) {
    .mobile-user-details {
        display: none;
    }
    .inner_main_content {
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 575px) {
    .m-hide-icon {
        display: none;
    }
    
    img#mySidenav {
        display: block;
        margin-left: 250px !important;
    }
    .dropup, .dropright, .dropdown, .dropleft {
        margin-top: -42px !important;
    }
    .wrapper_type_2 {
        .sidebar {
            &.collapsed {
                width: 0px;
                &:hover {
                    width: 0;
                }
            }
        }

        .masterLayoutWrapper {
            width: 100%;

            &.opened {
                left: 0;
                top: -54px;
                width: 100%;
            }
        }

        .navbar {
            width: 100% !important;
            display: block !important;

            .entity_name {
                display: none;
            }

            #nav-collapse {
                display: inline-block !important;
                float: right;
                .user_profile_span{
                    span{
                        display: none;
                    }
                }
            }
        }
    }
}